@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 0;
    margin: 0;
}


/* Minimum aspect ratio */
@media (min-aspect-ratio: 3/4) {
  .navbar {
    background-color: lightgray;
    overflow: hidden;
    margin: 0px;
    height: 50px;
  }
  .navbar img {
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
  }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 3/4) {
  .navbar {
    background-color: lightgray;
    overflow: hidden;
    margin: 0px;
    height: 60px;
  }
  .navbar img {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 18px 12px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
  }
}


/* Change the color of links on hover */
.navbar a:hover {
  background-color: gray;
  color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #0c4510;
  color: white;
}

/*****COMMON CSS SECTION*****/
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	font-family: sans-serif, arial;
	font-size: 15px;
}
.container {
	width: 1170px;
	margin: 0px auto;
}
.width-100 {
	width: 100%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
.width-50 {
	float: left;
	width: 50%;
}
.width-75 {
	width: 75%;
	float: left;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-25 {
	width: 25%;
	float: left;
}

/*****RECENT event SECTION RECENT event SECTION*****/

.recent-event {
  width: 100%;
	padding-top: 50px;
	background-color: #f0f3fa;
	padding-bottom: 60px;
}

.recent-event-heading {
	text-align: center;
	color: #343a40;
  font-size: 45px;
}

.recent-event-sub-heading {
	text-align: center;
	margin-bottom: 30px;
  font-size: 20px;
}

.recent-event-list{
	float: left;
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.event-title {
	font-size: 20px;
}

.event-company {
	margin-top: 10px;
	margin-bottom: 20px;
}

.event-company i {
	color: orange;
	margin-left: 10px;
}

.event-skill {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.event-apply-button {
	background: blue;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: right;
}

