@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    padding: 0;
    margin: 0;
}


/* Minimum aspect ratio */
@media (min-aspect-ratio: 3/4) {
  .navbar {
    background-color: lightgray;
    overflow: hidden;
    margin: 0px;
    height: 50px;
  }
  .navbar img {
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
  }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 3/4) {
  .navbar {
    background-color: lightgray;
    overflow: hidden;
    margin: 0px;
    height: 60px;
  }
  .navbar img {
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 18px 12px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
  }
}


/* Change the color of links on hover */
.navbar a:hover {
  background-color: gray;
  color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #0c4510;
  color: white;
}

/*****COMMON CSS SECTION*****/
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	font-family: sans-serif, arial;
	font-size: 15px;
}
.container {
	width: 1170px;
	margin: 0px auto;
}
.width-100 {
	width: 100%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}
.width-50 {
	float: left;
	width: 50%;
}
.width-75 {
	width: 75%;
	float: left;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-25 {
	width: 25%;
	float: left;
}

/*****RECENT event SECTION RECENT event SECTION*****/

.recent-event {
  width: 100%;
	padding-top: 50px;
	background-color: #f0f3fa;
	padding-bottom: 60px;
}

.recent-event-heading {
	text-align: center;
	color: #343a40;
  font-size: 45px;
}

.recent-event-sub-heading {
	text-align: center;
	margin-bottom: 30px;
  font-size: 20px;
}

.recent-event-list{
	float: left;
	background-color: white;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.event-title {
	font-size: 20px;
}

.event-company {
	margin-top: 10px;
	margin-bottom: 20px;
}

.event-company i {
	color: orange;
	margin-left: 10px;
}

.event-skill {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.event-apply-button {
	background: blue;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: right;
}

/*****FEED*****/

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-left: 1.5em;
  padding: 2em;
}

.post {
  max-width: 300px;
  min-width: 300px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px #aaaaaa;
  position: relative;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 90%;
}

.post-img {
  display: flex;
  justify-content: center;
}

.post-img img {
  max-height: 300px;
  max-width: 200px;
  min-height: 300px;
  min-width: 200px;
  padding-bottom: 5px;
}

.post-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.resourcesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -90px;
}
  
  
.title {
  font-weight: bold;
  font-size: 2em;
 }


.imageContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
  
  
.resourceImage {
  width: 200px;
  height: auto;
  object-fit: cover;
}
  
  


.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
}


.image-container img {
  max-width: 100%;
  height: auto;
}



